@font-face {
    font-family: "work";
    src: url("WorkSans-Regular.ttf");
}

@font-face {
    font-family: "mono";
    src: url("SpaceMono-Regular.ttf");
}

* {
    color: #fff !important;
   text-transform: capitalize;
   font-family: "work" !important;
}

body {
    background-color: #2B2B2B !important;
}


nav ul li a {
    font-weight: 600 !important;
}

nav ul li button {
    height: 60px !important;
    background-color: #A259FF;
    width: 152px;
}

nav ul li button:hover {
    opacity: 0.7;
}



nav a {
    position: relative;
    text-decoration: none;
}

nav a:hover {
    color: rgb(233, 214, 214) !important;
}

nav .href-1::after {
    content: "";
    position: absolute;
    background-color: #A259FF;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -2px;
    transition: 0.3s;
}

.href-1:hover::after {
    width: 100%;
}


h1 + p {
    font-size: 22px;
}

input[type="search"] {
    height: 60px;
    border: 1px solid #3B3B3B;
    border-radius: 20px;
    outline: none;
}

h1 {
    margin-top: 100px;
    font-size: 51px;
    font-weight: 600 !important;
}

/* media--------------------------------------------------------------------------------------------------------------------------------------------- */

@media screen and (max-width: 990px) {
    h1 {
        font-size: 28px;
        margin-top: 40px;
    }

    h1 + p {
        font-size: 16px;
    }

    .first-one {
        margin-top: 40px !important;
    }
}

/* media--------------------------------------------------------------------------------------------------------------------------------------------- */

.input-group span {
    border: 1px solid #3B3B3B !important;
    border-left: none !important;
    border-radius: 20px;
}

input[type="search"]::placeholder {
    color: #858584;
    font-size: 16px; 
}

section {
    background-color: #3B3B3B;
}

.card-footer > div p:first-of-type {
    font-size: 12px;
    color: #858584 !important;
}

.card-footer, .card-body {
    background-color: #2B2B2B;
    height: calc(173/2)px;
}

.card > img {
    height: 295px;
}

.card {
    height: 469px;
    margin-bottom: 30px;
}


.card-body > h4 {
    font-weight: 600 !important;
    font-size: 22px;
}


footer {
    background-color: #3B3B3B;
}

footer p, h1, h2, h3, h4, h5, h6 {
    background-color: transparent !important;
}

.template {
    font-size: 12px !important;
}

footer input {
    height: 60px;
}

footer button {
    background-color: #A259FF;
    height: 60px !important;
    top: 0;
    right: 0;
    bottom: 0;
    width: 40%;
}

.footer-2 input, button {
    height: 46px !important;
  }
  
  .footer-2 p {
      font-size: 16px;
      font-weight: 400 !important;
  }
  
  .footer-2 h4 {
      font-size: 22px;
      font-weight: 700 !important;
  }

  .envelop {
    height: 46px !important;
    font-size: 16px !important;
}

footer {
    border-top: 2px solid #2B2B2B;
}

.box-2 h5 {
    color: #858584 !important;
}

.box-2 .badge {
    background-color: #3B3B3B;
    color: #858584;
}

.box-0 {
    margin-top: 20px;
}

.first-one {
    height: 2px; 
    background: #3B3B3B;
    margin-top: 80px;
}